<div class="seach-form mt-4 align-center">
    <form method="POST">
        <div class="mb-3">
            <label for="search" class="form-label">Từ khoá</label>
            <input type="text" class="form-control" name="search" id="search" placeholder="Nhập">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>